<!-- app/views/users/new.html.erb -->

<h1 class='login-header' >Signup!</h1>

<img class='login-img' src=<%= @image %> alt="green">

<%= form_for :user, url: '/users' do |f| %>

  Name:
  <div class="form-group">
    <%= f.text_field :name %>
  </div>

  Email:  
  <div class="form-group">
  <%= f.text_field :email %>
  </div>

  Password: 
  <div class="form-group">
  <%= f.password_field :password %>
  </div>

  Password Confirmation: 
  <div class="form-group">
  <%= f.password_field :password_confirmation %>
  </div>

  <%= f.submit "Submit", class: 'btn btn-primary'%>

<% end %>